{% extends 'base.html.twig' %}


{% block body %}

<div>
    <p>Collez ci-dessous l'URL de votre ePub </p>
    <div><img class="finger" src="img/finger-down.png" alt="" title="" /></div> <br>
    <form action="choice" method="post">
        <div>
            <input type="text" id="" name="epub" value="" placeholder="URL de votre ePub">
        </div>
        <div>
            <button type="submit" name="valider">Envoyer</button>
        </div>
    </form>
</div>
{% endblock %}
